nav {
  margin: 0 2% 0 2%;
}

a {
  text-decoration: none !important;
}

div > a {
  margin-right: 5px;
}

.chakra-menu__menu-list.css-1qqhaef > a {
  margin-right: 0;
  z-index: 5;
}

button {
  padding: 0;
}

h1 {
  font-family: Staatliches !important;
  font-size: 80px !important;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(192, 192, 192, 0.815);
}

body::-webkit-scrollbar-thumb {
  background-color: #777;
  outline: 1px solid #666;
}

#title {
  letter-spacing: 0.4px !important;
  font-size: 22px !important;
  font-size: 1.375rem !important;
  line-height: 1.13636 !important;
  margin-right: 5px !important;
}

#editor {
  font-size: 16px !important;
  font-size: 1rem !important;
  line-height: 1.75 !important;
}

#banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

#banner-text {
  font-family: Staatliches;
  background-color: #edf2f791;
  color: #333333;
  font-weight: bold;
  border-radius: 5px;
  z-index: 1.5;
  padding: 5px;
  text-align: center;
}

#article {
  text-align: center !important;
}

#not-found {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#not-found > * {
  text-align: center;
}

img:hover {
  opacity: 1 !important;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1) !important;
}

p {
  font-size: 18px;
  padding-right: 5px;
  margin-bottom: 10px;
}

li {
  list-style-type: square;
  font-size: 17px;
}

p > svg {
  width: 25px;
  height: 23px;

  margin: auto 0;
}

.css-1kw4pk {
  margin: auto 0;
  margin-top: 2px;
}

p > time {
  display: inline;
  margin-top: 0;
}

picture > img {
  margin: 0 auto;
}

svg {
  margin-bottom: 2px;
  margin-right: 10px;
}

div.css-0 {
  margin-right: 10px;
}

.chakra-text.css-1j0eg73 {
  margin: 0;
}

@media (max-width: 500px) {
  h1 {
    font-size: 55px !important;
    text-align: center;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  .css-85ipc2 {
    text-align: start;
  }

  div.css-0 {
    margin-right: 0;
  }

  p {
    font-size: 17px;
    margin: 5%;
    text-align: start;
  }

  nav {
    margin: 0 2% 0 6%;
  }
}
